#darkmode-toggle{
    display:none;
}
.darkmode{
    margin-right:10px;
}
.darkmode label {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background: var(--secondary-color);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.darkmode label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.darkmode input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.darkmode input:checked+label {
    background: #242424;
}

.darkmode input:checked+label:after {
    left: 57px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode label,
.darkmode label:after {
    transition: 0.3s
}

label svg {
    position: absolute;
    top:7px;
    z-index: 100;
  }
  label svg.sun {
    left:7.5px;
    fill:#fff;
    transition: 0.3s;
  }
  label svg.moon {
    left:37px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  input:checked + label svg.sun {
    fill:#7e7e7e;
  }
  input:checked + label svg.moon {
    fill:#fff;
  }